[package]
name = "kitty"
version = "0.7.0"
authors = ["Adrian Borup <adrian@borup.com>"]
edition = "2018"

[dependencies]
clap = "2.33.3"
colored = "2.0.0"
reqwest = { version = "0.10.8", features = ["cookies"] }
tokio = { version = "0.2.22", features = ["macros"] }
tempfile = "3.1.0"
zip = "0.5.8"
platform-dirs = "0.3.0"
rust-ini = "0.16.0"
regex = "1.4.1"
scraper = "0.12.0"
selectors = "0.22.0"
webbrowser = "0.5.5"
rand = "0.7.3"
self_update = "0.23.0"
yaml-rust = "0.4"
lazy_static = "1.4"
shlex = "1.1"
notify = "4.0"
